<!-- MAIN -->
<template name="home">
    <div id="price_collector_div" class="mycontainer">
        {{#transition in="zoomIn" out="bounceOut"}} 
        {{#each s in servers}}
        	{{> server_item s}}
        {{/each}} 
        {{/transition}}
    </div>
</template>

<template name="server_item">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <button type="button" class="btn btn-default {{server}} mybutton ">{{ server }}</button>
        <p class="in_count">{{msgs_in}}</p>
        <p class="out_count">{{msgs_out}}</p>
        <p class="last_msg">{{last_msg_time}}</p>
    </div>
</template>
